.HOME {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 0px 0px;
  position: relative;
  background-color: #000000;
  width: 100%;
  min-width: 1440px;
  min-height: 1110px;
}

.HOME .MAKERS-NAVIGATION {
  display: flex;
  width: 1440px;
  height: 104px;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  position: relative;
  background-color: #000000;
}

.HOME .container {
  display: flex;
  width: 1100px;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0px;
  position: relative;
}

.HOME .left {
  display: flex;
  width: 200px;
  align-items: center;
  gap: 32px;
  position: relative;
}

.HOME .MAKERS-BRAND-LOGO {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.HOME .making-it-logo {
  display: flex;
  width: 34px;
  height: 34px;
  align-items: center;
  gap: 4px;
  position: relative;
}

.HOME .icon {
  position: relative;
  width: 34px;
  height: 20px;
}

.HOME .center {
  display: inline-flex;
  align-items: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.HOME .links {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  padding: 0px 20px;
  position: relative;
  flex: 0 0 auto;
}

.HOME .nav-item-wrapper {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.HOME .nav-item {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.HOME .right {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  position: relative;
  all: unset;
  box-sizing: border-box;
}

.HOME .MAKERS-BUTTON {
  background-color: #403933;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 3px 28px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 10px;
  all: unset;
  box-sizing: border-box;
}

.HOME .button {
  color: #000000;
  position: relative;
  width: fit-content;
  margin-top: -2px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
  text-decoration: underline;
  white-space: nowrap;
  all: unset;
  box-sizing: border-box;
}

.HOME .MAKERS-MAIN {
  display: flex;
  flex-direction: column;
  width: 516px;
  height: 1006px;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  position: relative;
  background-color: #ffffff;
}

.HOME .MAKERS-TEXT-CONTENT {
  display: flex;
  flex-direction: column;
  width: 447px;
  height: 711px;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 322px;
  left: 52px;
}

.HOME .education {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #0a2942;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.HOME .learn-how-to-make {
  position: relative;
  align-self: stretch;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #858280;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.HOME .makers-is-a-figma {
  position: relative;
  align-self: stretch;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a2942;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.HOME .logo {
  position: relative;
  width: 924px;
  height: 1006px;
  object-fit: cover;
}

.HOME .text-wrapper {
  position: absolute;
  width: 516px;
  height: 214px;
  top: 103px;
  left: 0;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #72665d;
  font-size: 96px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.HOME .img {
  position: absolute;
  width: 104px;
  height: 104px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.HOME .MAKERS-BUTTONS-GROUP {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  position: absolute;
  top: 1045px;
  left: 369px;
}

.HOME .button-wrapper {
  background-color: #443c36;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 3px 28px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 10px;
}

.HOME .div {
  color: #ffffff;
  position: relative;
  width: fit-content;
  margin-top: -2px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
  text-decoration: underline;
  white-space: nowrap;
  all: unset;
  box-sizing: border-box;
}

.HOME .MAKERS-BUTTONS-GROUP-2 {
  position: absolute;
  width: 137px;
  height: 46px;
  top: 936px;
  left: 170px;
}
