.PROFIL {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.PROFIL .div {
  background-image: url(./img/profil.svg);
  background-size: cover;
  background-position: 50% 50%;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.PROFIL .frame {
  top: 344px;
  left: 397px;
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.PROFIL .rectangle {
  position: relative;
  width: 284px;
  height: 402px;
  background-color: #010000e0;
  border-radius: 25px;
}

.PROFIL .text-wrapper {
  position: absolute;
  width: 194px;
  height: 47px;
  top: 22px;
  left: 52px;
  font-family: "Inika", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
  text-decoration: underline;
  white-space: nowrap;
}

.PROFIL .frame-2 {
  top: 344px;
  left: 730px;
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.PROFIL .frame-3 {
  top: 344px;
  left: 1065px;
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.PROFIL .text-wrapper-2 {
  position: absolute;
  width: 194px;
  height: 47px;
  top: 22px;
  left: 52px;
  font-family: "Inika", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.PROFIL .frame-4 {
  flex-direction: column;
  top: 773px;
  left: 412px;
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.PROFIL .rectangle-2 {
  position: relative;
  width: 937px;
  height: 149px;
  background-color: #000000ed;
  border-radius: 25px;
}

.PROFIL .text-wrapper-3 {
  position: absolute;
  height: 40px;
  top: 60px;
  left: 24px;
  font-family: "Inika", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 40px;
  text-decoration: underline;
  white-space: nowrap;
}

.PROFIL .frame-5 {
  top: 122px;
  left: 42px;
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.PROFIL .rectangle-3 {
  position: relative;
  width: 335px;
  height: 800px;
  background-color: #000000d6;
  border-radius: 25px;
}

.PROFIL .TECHNICIEN-wrapper {
  display: flex;
  flex-direction: column;
  width: 291px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 533px;
  left: 32px;
  background-color: #ffffff;
}

.PROFIL .text-wrapper-4 {
  position: relative;
  width: 291px;
  height: 34px;
  margin-top: -1px;
  font-family: "Inder", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.PROFIL .text-wrapper-5 {
  position: absolute;
  height: 40px;
  top: 292px;
  left: 32px;
  font-family: "Inder", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.PROFIL .text-wrapper-6 {
  position: absolute;
  height: 40px;
  top: 392px;
  left: 32px;
  font-family: "Inder", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.PROFIL .text-wrapper-7 {
  position: absolute;
  height: 40px;
  top: 492px;
  left: 32px;
  font-family: "Inder", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.PROFIL .ellipse {
  position: absolute;
  width: 150px;
  height: 142px;
  top: 37px;
  left: 105px;
  object-fit: cover;
}

.PROFIL .text-wrapper-8 {
  position: absolute;
  height: 40px;
  top: 178px;
  left: 101px;
  font-family: "Inika", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.PROFIL .div-wrapper {
  display: flex;
  flex-direction: column;
  width: 291px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 333px;
  left: 32px;
  background-color: #ffffff;
}

.PROFIL .rectangle-4 {
  display: flex;
  flex-direction: column;
  width: 291px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 433px;
  left: 32px;
  background-color: #ffffff;
}

.PROFIL .MAKERS-BUTTON {
  display: flex;
  width: 81px;
  left: 1209px;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 3px 28px;
  position: absolute;
  top: 942px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid;
  border-color: #0249ff;
  all: unset;
  box-sizing: border-box;
}

.PROFIL .button {
  margin-left: -12.5px;
  margin-right: -12.5px;
  color: #0249ff;
  position: relative;
  width: fit-content;
  margin-top: -2px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
  text-decoration: underline;
  white-space: nowrap;
  all: unset;
  box-sizing: border-box;
}

.PROFIL .button-wrapper {
  display: inline-flex;
  left: 1290px;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 3px 28px;
  position: absolute;
  top: 942px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid;
  border-color: #0249ff;
}

.PROFIL .button-2 {
  color: #000000;
  position: relative;
  width: fit-content;
  margin-top: -2px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
  text-decoration: underline;
  white-space: nowrap;
  all: unset;
  box-sizing: border-box;
}

.PROFIL .text-wrapper-9 {
  position: absolute;
  width: 750px;
  height: 178px;
  top: -1px;
  left: 690px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 96px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
