.HISTORIQUE {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-color: #ffffff;
}

.HISTORIQUE .MAKERS-NAVIGATION {
  display: flex;
  width: 1440px;
  height: 88px;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  position: relative;
  background-color: #000000;
}

.HISTORIQUE .container {
  display: flex;
  width: 1100px;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0px;
  position: relative;
}

.HISTORIQUE .left {
  display: flex;
  width: 200px;
  align-items: center;
  gap: 32px;
  position: relative;
}

.HISTORIQUE .MAKERS-BRAND-LOGO {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.HISTORIQUE .making-it-logo {
  display: flex;
  width: 34px;
  height: 34px;
  align-items: center;
  gap: 4px;
  position: relative;
}

.HISTORIQUE .icon {
  position: relative;
  width: 34px;
  height: 20px;
}

.HISTORIQUE .center {
  display: inline-flex;
  align-items: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.HISTORIQUE .links {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  padding: 0px 20px;
  position: relative;
  flex: 0 0 auto;
}

.HISTORIQUE .nav-item-wrapper {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.HISTORIQUE .nav-item {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.HISTORIQUE .historique {
  position: relative;
  width: 1440px;
  height: 1050px;
  object-fit: cover;
}

.HISTORIQUE .logo {
  position: absolute;
  width: 104px;
  height: 85px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.HISTORIQUE .frame {
  position: absolute;
  width: 1277px;
  height: 487px;
  top: 325px;
  left: 82px;
}

.HISTORIQUE .intervantion {
  position: absolute;
  width: 1277px;
  height: 487px;
  top: 507px;
  left: 621px;
}

.HISTORIQUE .text-wrapper {
  position: absolute;
  width: 750px;
  height: 178px;
  top: 84px;
  left: 690px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 96px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
