.ADD {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-color: #ffffff;
}

.ADD .MAKERS-NAVIGATION {
  display: flex;
  width: 1440px;
  height: 88px;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  position: relative;
  background-color: #000000;
}

.ADD .container {
  display: flex;
  width: 1100px;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0px;
  position: relative;
}

.ADD .left {
  display: flex;
  width: 200px;
  align-items: center;
  gap: 32px;
  position: relative;
}

.ADD .MAKERS-BRAND-LOGO {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.ADD .making-it-logo {
  display: flex;
  width: 34px;
  height: 34px;
  align-items: center;
  gap: 4px;
  position: relative;
}

.ADD .icon {
  position: relative;
  width: 34px;
  height: 20px;
}

.ADD .center {
  display: inline-flex;
  align-items: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.ADD .links {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  padding: 0px 20px;
  position: relative;
  flex: 0 0 auto;
}

.ADD .nav-item-wrapper {
  position: relative;
  flex: 0 0 auto;
  display: inline-flex;
  align-items: flex-start;
}

.ADD .nav-item {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.ADD .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ADD .frame {
  position: relative;
  width: 1440px;
  height: 1022px;
  background-image: url(./img/frame-8.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.ADD .div {
  position: absolute;
  height: 39px;
  top: 828px;
  left: 93px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.ADD .div-wrapper {
  position: absolute;
  top: 35px;
  left: 732px;
  display: inline-flex;
  align-items: flex-start;
}

.ADD .logo {
  position: absolute;
  width: 104px;
  height: 88px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.ADD .text-wrapper-2 {
  position: absolute;
  width: 80px;
  height: 44px;
  top: 253px;
  left: 15px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.ADD .rectangle {
  display: flex;
  flex-direction: column;
  height: 57px;
  align-items: center;
  justify-content: center;
  top: 686px;
  left: 15px;
  background-color: #d9d9d9;
  box-shadow: inset 0px 4px 4px #00000040;
  width: 279px;
  position: absolute;
}

.ADD .text-wrapper-3 {
  position: relative;
  width: 278.99px;
  height: 55.7px;
  margin-top: -0.16px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 42px;
  letter-spacing: 0;
  line-height: normal;
}

.ADD .rectangle-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 315px;
  left: 385px;
  background-color: #d9d9d9;
  border: 1px solid;
  border-color: #000000;
  box-shadow: inset 0px 4px 4px #00000040;
  width: 279px;
  position: absolute;
}

.ADD .text-wrapper-4 {
  position: relative;
  width: 278.99px;
  height: 55.7px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 42px;
  letter-spacing: 0;
  line-height: normal;
}

.ADD .text-wrapper-5 {
  position: absolute;
  width: 203px;
  height: 46px;
  top: 624px;
  left: 15px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.ADD .rectangle-3 {
  display: flex;
  flex-direction: column;
  height: 57px;
  align-items: center;
  justify-content: center;
  top: 686px;
  left: 379px;
  background-color: #d9d9d9;
  box-shadow: inset 0px 4px 4px #00000040;
  width: 279px;
  position: absolute;
}

.ADD .text-wrapper-6 {
  position: absolute;
  width: 144px;
  height: 44px;
  top: 253px;
  left: 385px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.ADD .text-wrapper-7 {
  position: absolute;
  width: 217px;
  height: 46px;
  top: 624px;
  left: 385px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.ADD .rectangle-4 {
  display: flex;
  flex-direction: column;
  height: 57px;
  align-items: center;
  justify-content: center;
  top: 686px;
  left: 765px;
  background-color: #d9d9d9;
  box-shadow: inset 0px 4px 4px #00000040;
  width: 279px;
  position: absolute;
}

.ADD .rectangle-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 315px;
  left: 765px;
  background-color: #d9d9d9;
  border: 1px solid;
  border-color: #000000;
  box-shadow: inset 0px 4px 4px #00000040;
  width: 279px;
  position: absolute;
}

.ADD .text-wrapper-8 {
  position: absolute;
  width: 247px;
  height: 46px;
  top: 624px;
  left: 765px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.ADD .PC-wrapper {
  display: flex;
  flex-direction: column;
  height: 57px;
  align-items: center;
  justify-content: center;
  top: 686px;
  left: 1145px;
  background-color: #d9d9d9;
  box-shadow: inset 0px 4px 4px #00000040;
  width: 279px;
  position: absolute;
}

.ADD .text-wrapper-9 {
  position: absolute;
  width: 246px;
  height: 44px;
  top: 253px;
  left: 765px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.ADD .text-wrapper-10 {
  position: absolute;
  width: 247px;
  height: 46px;
  top: 624px;
  left: 1145px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.ADD .t-DEFFAILLANCE {
  display: flex;
  flex-direction: column;
  width: 279px;
  height: 57px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 869px;
  left: 765px;
  background-color: #d9d9d9;
  box-shadow: inset 0px 4px 4px #00000040;
}

.ADD .text-wrapper-11 {
  position: relative;
  width: 278.99px;
  height: 55.7px;
  margin-top: -0.58px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 42px;
  letter-spacing: 0;
  line-height: normal;
}

.ADD .rectangle-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 501px;
  left: 385px;
  background-color: #d9d9d9;
  box-shadow: inset 0px 4px 4px #00000040;
  width: 279px;
  position: absolute;
}

.ADD .text-wrapper-12 {
  position: absolute;
  width: 274px;
  height: 44px;
  top: 815px;
  left: 759px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.ADD .COULEUR {
  display: flex;
  flex-direction: column;
  width: 279px;
  height: 57px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 872px;
  left: 1145px;
  background-color: #d9d9d9;
  box-shadow: inset 0px 4px 4px #00000040;
}

.ADD .text-wrapper-13 {
  position: relative;
  width: 278.99px;
  height: 55.7px;
  margin-top: -0.58px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ff2d00;
  font-size: 42px;
  letter-spacing: 0;
  line-height: normal;
}

.ADD .text-wrapper-14 {
  position: absolute;
  width: 116px;
  height: 46px;
  top: 438px;
  left: 385px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.ADD .text-wrapper-15 {
  position: absolute;
  width: 157px;
  height: 43px;
  top: 816px;
  left: 1139px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.ADD .rectangle-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 501px;
  left: 15px;
  background-color: #d9d9d9;
  box-shadow: inset 0px 4px 4px #00000040;
  width: 279px;
  position: absolute;
}

.ADD .img {
  height: 58px;
  top: 872px;
  left: 385px;
  width: 279px;
  position: absolute;
}

.ADD .d-DATE {
  position: absolute;
  height: 51px;
  top: 435px;
  left: 15px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 42px;
  letter-spacing: 0;
  line-height: normal;
}

.ADD .span {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 42px;
  letter-spacing: 0;
}

.ADD .text-wrapper-16 {
  font-size: 32px;
}

.ADD .text-wrapper-17 {
  position: absolute;
  width: 244px;
  height: 44px;
  top: 815px;
  left: 379px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.ADD .rectangle-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 501px;
  left: 765px;
  background-color: #d9d9d9;
  box-shadow: inset 0px 4px 4px #00000040;
  width: 279px;
  position: absolute;
}

.ADD .text-wrapper-18 {
  position: absolute;
  width: 191px;
  height: 46px;
  top: 438px;
  left: 765px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.ADD .MAKERS-BUTTON {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 3px 28px;
  position: absolute;
  top: 981px;
  left: 1285px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid;
  border-color: #0249ff;
}

.ADD .button {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #0249ff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
  text-decoration: underline;
  white-space: nowrap;
  all: unset;
  box-sizing: border-box;
}

.ADD .text-wrapper-19 {
  position: absolute;
  width: 750px;
  height: 178px;
  top: 87px;
  left: 690px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 96px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.ADD .rectangle-default {
  position: absolute;
  width: 279px;
  height: 56px;
  top: 314px;
  left: 15px;
  background-color: #d9d9d9;
  box-shadow: inset 0px 4px 4px #00000040;
}

.ADD .BELARBI {
  position: absolute;
  width: 279px;
  height: 56px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 42px;
  letter-spacing: 0;
  line-height: normal;
}

.ADD .ellipse {
  display: flex;
  flex-direction: column;
  width: 135px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 874px;
  left: 69px;
  background-color: #ffffff;
  border-radius: 50px;
}

.ADD .text-wrapper-20 {
  position: relative;
  width: 135px;
  height: 56.49px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 42px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}
