.INTERVENTION {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  background-color: #ffffff;
}

.INTERVENTION .MAKERS-NAVIGATION {
  display: flex;
  width: 1440px;
  height: 94px;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  position: relative;
  background-color: #000000;
}

.INTERVENTION .container {
  display: flex;
  width: 1100px;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0px;
  position: relative;
}

.INTERVENTION .left {
  display: flex;
  width: 200px;
  align-items: center;
  gap: 32px;
  position: relative;
}

.INTERVENTION .MAKERS-BRAND-LOGO {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.INTERVENTION .making-it-logo {
  display: flex;
  width: 34px;
  height: 34px;
  align-items: center;
  gap: 4px;
  position: relative;
}

.INTERVENTION .icon {
  position: relative;
  width: 34px;
  height: 20px;
}

.INTERVENTION .center {
  display: inline-flex;
  align-items: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.INTERVENTION .links {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  padding: 0px 20px;
  position: relative;
  flex: 0 0 auto;
}

.INTERVENTION .nav-item-wrapper {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.INTERVENTION .nav-item {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.INTERVENTION .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.INTERVENTION .right {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  position: relative;
  all: unset;
  box-sizing: border-box;
}

.INTERVENTION .MAKERS-BUTTON {
  position: relative;
  flex: 0 0 auto;
  background-color: #1400ff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 3px 28px;
  border-radius: 10px;
  all: unset;
  box-sizing: border-box;
}

.INTERVENTION .button {
  margin-top: -2px;
  color: #000000;
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
  text-decoration: underline;
  white-space: nowrap;
  all: unset;
  box-sizing: border-box;
}

.INTERVENTION .logo {
  position: absolute;
  width: 104px;
  height: 94px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.INTERVENTION .COLUMNS-SECTION {
  position: relative;
  width: 1440px;
  height: 1016px;
}

.INTERVENTION .overlap-group {
  position: relative;
  width: 1460px;
  height: 1054px;
  top: -27px;
  left: -10px;
}

.INTERVENTION .frame {
  display: flex;
  flex-direction: column;
  width: 1440px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 865px;
  left: 10px;
}

.INTERVENTION .div {
  position: relative;
  width: 750px;
  height: 178px;
  margin-top: -1px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 96px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.INTERVENTION .frame-2 {
  display: flex;
  flex-direction: column;
  width: 1460px;
  height: 1054px;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
}

.INTERVENTION .frame-wrapper {
  display: flex;
  flex-direction: column;
  width: 1460px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.INTERVENTION .intervention-wrapper {
  display: flex;
  flex-direction: column;
  width: 1450px;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  position: relative;
  flex: 0 0 auto;
}

.INTERVENTION .intervention {
  position: relative;
  width: 1440px;
  height: 1033px;
  margin-right: -10px;
  object-fit: cover;
}

.INTERVENTION .div-wrapper {
  display: flex;
  flex-direction: column;
  width: 1278px;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
  margin-top: -893px;
}

.INTERVENTION .intervention-2 {
  display: inline-flex;
  flex-direction: column;
  height: 537px;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}

.INTERVENTION .frame-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.INTERVENTION .intervantion-wrapper {
  position: relative;
  width: 1277px;
  flex: 0 0 auto;
}

.INTERVENTION .intervantion {
  position: absolute;
  width: 1277px;
  height: 487px;
  top: 416px;
  left: 2930px;
}

.INTERVENTION .button-wrapper {
  position: absolute;
  top: 487px;
  left: 0;
  background-color: #ffffff;
  border: 2px solid;
  border-color: #0249ff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 3px 28px;
  border-radius: 10px;
}

.INTERVENTION .button-2 {
  color: #0249ff;
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
  text-decoration: underline;
  white-space: nowrap;
  all: unset;
  box-sizing: border-box;
}
