.INSTANCES {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-color: #ffffff;
}

.INSTANCES .MAKERS-NAVIGATION {
  display: flex;
  width: 1440px;
  height: 88px;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  position: relative;
  background-color: #000000;
}

.INSTANCES .container {
  display: flex;
  width: 1100px;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0px;
  position: relative;
}

.INSTANCES .left {
  display: flex;
  width: 200px;
  align-items: center;
  gap: 32px;
  position: relative;
}

.INSTANCES .MAKERS-BRAND-LOGO {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.INSTANCES .making-it-logo {
  display: flex;
  width: 34px;
  height: 34px;
  align-items: center;
  gap: 4px;
  position: relative;
}

.INSTANCES .icon {
  position: relative;
  width: 34px;
  height: 20px;
}

.INSTANCES .center {
  display: inline-flex;
  align-items: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.INSTANCES .links {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  padding: 0px 20px;
  position: relative;
  flex: 0 0 auto;
}

.INSTANCES .nav-item-wrapper {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.INSTANCES .nav-item {
  text-decoration: underline;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.INSTANCES .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.INSTANCES .frame {
  position: relative;
  flex: 0 0 auto;
  background-image: url(./img/frame-11.png);
  background-size: cover;
  background-position: 50% 50%;
}

.INSTANCES .MAKERS-BUTTON {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 3px 28px;
  position: absolute;
  top: 153px;
  left: 1240px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid;
  border-color: #0249ff;
}

.INSTANCES .button {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #0249ff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
  all: unset;
  box-sizing: border-box;
}

.INSTANCES .div {
  position: absolute;
  width: 750px;
  height: 178px;
  top: 875px;
  left: 0;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 96px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.INSTANCES .logo {
  position: absolute;
  width: 104px;
  height: 88px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.INSTANCES .instance-wrapper {
  position: absolute;
  width: 1248px;
  height: 568px;
  top: 287px;
  left: 96px;
}

.INSTANCES .instance {
  position: absolute;
  width: 1248px;
  height: 568px;
  top: 2299px;
  left: 345px;
}
